

{% extends extend %}

{% block content %}

{% load static %}
<br>

<div class="container rounded bg-white mt-5 mb-5">
    <form class="form-group g-3" method="post" action="">
        {% csrf_token %}
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="p-3 py-5">
                <br>
            <div class="row mt-2">
                <div class="col-md-12"><label class="labels">Nom de la mission</label>{{form.nom}}</div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12"><label class="labels">Client</label>
                    <select id="client" name="native-select-client" placeholder="Sélection dynamique" data-search="true" data-silent-initial-value-set="true">
                        {% for client in clients %}
                            {% if client.id == client_selected.id %}
                                <option value="{{client.id}}" selected>{{client}}</option>
                            {% else %}
                                <option value="{{client.id}}">{{client}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12"><label class="labels">Equipes</label>
                    <select id="equipes" multiple name="native-select-equipes" placeholder="Sélection dynamique" data-search="true" data-silent-initial-value-set="true">
                        {% for equipe in equipes %}
                            {% if equipe.id in equipes_selected %}
                                <option value="{{equipe.id}}" selected>{{equipe}}</option>
                            {% else %}
                                <option value="{{equipe.id}}">{{equipe}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Paramétrage mission</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Date début de la mission</label>{{ form.date_debut }}</div>
                    <div class="col-md-6"><label class="labels">Date fin de la mission</label>{{ form.date_fin }}</div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Heure début de la mission</label>{{ form.heure_debut }}</div>
                    <div class="col-md-6"><label class="labels">Heure fin de la mission</label>{{ form.heure_fin }}</div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Site</label>{{ form.site }}</div>
                </div>
                {% if current_url == 'create_mission' %}
                <div class="mt-3 text-center"><button class="btn btn-success" type="submit" style="min-width: 50px;">Enregistrer</button></div>
                <div class="mt-3 text-center"><a href="{% url 'missions' %}"><button class="btn btn-dark" type="button">Annuler</button></a></div>
                {% elif current_url == 'update_mission' %}
                <div class="mt-3 text-center"><button class="btn btn-warning" type="submit">Enregistrer les modifications</button></div>
                <div class="mt-3 text-center"><a href="{% url 'detail_mission' vacation.id %}"><button class="btn btn-dark" type="button">Annuler</button></a></div>
                {% endif %}
                
            </div>
        </div>
        <div class="col-md-4">
            <br>
            <div class="p-3 py-5">
                <div class="row mt-2">
                    <div class="col-md-12"><label class="labels">Description</label>{{ form.nature_mission }}</div>
                    <div class="col-md-12"><label class="labels">Critéres exigés</label>{{ form.criteres }}</div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>

{% endblock content %}

{% block js %}
<script type="text/javascript" src="{% static 'JS/virtual-select.min.js' %}"></script>
<script type="text/javascript">
    VirtualSelect.init({
        ele: '#equipes',
        allOptionsSelectedText: 'Tout',
        showValueAsTags: true,
        searchPlaceholderText: 'Trouver des équipes...',
        required: true,
        setValueAsArray: true,
    });

    VirtualSelect.init({
        ele: '#client',
        showValueAsTags: true,
        searchPlaceholderText: 'Trouver un client...',
        required: true,
        multiple: false,
        disableSelectAll: true,
        maxValues: 1,
    });
</script>
{% endblock js %}