
{% block content %}
{% load static %}
{% include 'gestion_activites/status_equipe.html' %}
<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="col-md">
                    <div class="card text-center text-black mb-3">
                        <div class="card-header" style="height: 40%;"><h6 class="card-title">Nombre d'équipes</h6></div>
                        <div class="card-body" style="height:100%">
                           <h4>{{ nb_equipes }}</h4> 
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card text-center text-black mb-3" style="background-color: rgb(189, 189, 45);">
                        <div class="card-header" style="height: 40%;"><h6 class="card-title">Nombre d'incidents</h6></div>
                        <div class="card-body" style="height:100%">
                           <h4>0</h4> 
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row" >
                <div class="col-md">
                    <div class="card text-center text-black mb-3">
                        <div class="card-header" style="height: 40%;"><h6 class="card-title">Heures totales</h6></div>
                        <div class="card-body" style="max-height:100px">
                            <h5> {{ heures_tot }} heures {{minutes_tot}} minutes</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md" >
                    <div class="card text-center text-black mb-3">
                        <div class="card-header" style="height: 40%;"><h6 class="card-title">Heures travaillées</h6></div>
                        <div class="card-body" style="max-height:100px">
                            <h5>{{ heures_ecoul }} heures {{minutes_ecoul}} minutes</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md" >
                    <div class="card text-center text-black mb-3">
                        <div class="card-header" style="height: 40%;"><h6 class="card-title">Heures restantes</h6></div>
                        <div class="card-body" style="max-height:100px">
                            <h5>{{ heures_rest }} heures {{ minutes_rest }} minutes</h5>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            
            <div class="row">
                <div class="col-md">
                    <div class="row justify-content-center" id="comment"> 
                        <div class="col-md-12" style="padding-bottom: 2px;"><label class="labels" style="background-color: #FFFFFF;"><strong>Détails sur la mission</strong></label><textarea class="form-control" name="comment" cols="40" rows="5" name="comment" placeholder="{{mission.nature_mission}}" style="max-height: 200px; min-height: 168px;" disabled></textarea></div>      
                    </div> 
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row justify-content-center" id="comment">
                                <div class="col-md-12" style="padding-bottom: 2px;"><label class="labels" style="background-color: #FFFFFF;">Site</label><input type="text" class="form-control" placeholder="{{mission.site}}" value="{{mision.site}}" disabled/></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row justify-content-center" id="comment"> 
                                <div class="col-md-12" style="padding-bottom: 2px;"><label class="labels" style="background-color: #FFFFFF;"><strong>Critéres demandés</strong></label><textarea class="form-control" name="comment" cols="40" rows="5" name="comment" placeholder="{{mission.criteres}}" style="max-height: 50px; min-height: 100px;" disabled></textarea></div>      
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-body">
                <h5 class="text-center">Mission</h5>
                <div class="row">
                    <div class="col-md">
                        <a href="{% url 'update_mission' mission.id %}" class="btn btn-outline-warning btn-sm btn-block">Modifier</a>
                    </div>
                    <div class="col-md"> 
                        <a href="{% url 'delete_mission' mission.id %}" class="btn btn-outline-danger btn-sm btn-block">Supprimer</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card text-center text-black mb-3">
                <div class="card-header"><h5 class="card-title">Vacations par équipe</h5></div>
                <div class="card-body" style="max-width: 100%; max-height: 550px">
                    <div style="overflow-x:auto;">
                        <table class="table">
                            <tr class="table-dashboard-title" style="margin: 10%;">
                    
                                <th>Equipe</th>
                                <th>Date début</th>
                                <th>Date fin</th>
                                <th>Statut</th>
                                <th></th>
                                <th>Actions</th>
                                <th></th>
                            </tr>
            
                            {% for vacation in missions %}
                            <tr>
                        
                                <td>{{ vacation.equipe}}</td>
                                <td>{{vacation.date_debut|date:'d-m-Y'}}</td>
                                <td>{{vacation.date_fin|date:'d-m-Y'}}</td>
                                <td>
                                    {% if vacation.date_debut > today %} 
                                    à venir
                                    {% elif vacation.date_fin >= vacation.date_debut and vacation.date_fin >= today and today >= vacation.date_debut %}
                                        {% if today == vacation.date_fin and horaire >= vacation.heure_fin %}
                                            terminé
                                        {% elif today == vacation.date_debut and vacation.heure_debut >= horaire %}
                                            à venir
                                        {% else %}
                                            en cours
                                        {% endif %}
                                    {% elif today >= vacation.date_fin  %}
                                        terminé
                                    {% else %}
                                        erreur
                                    {% endif %}
                                </td>
                                <td><a href="{% url 'detail_vacation_equipe' vacation.id %}" style="margin: 0;" class="btn btn-outline-info btn-sm btn-block">Voir</a></td>
                                <td><a href="{% url 'update_vacation_equipe' vacation.id %}" style="margin: 0;" class="btn btn-outline-warning btn-sm btn-block">Modifier</a></td>
                                <td><a href="{% url 'delete_vacation_equipe' vacation.id %}" style="margin: 0;" class="btn btn-outline-danger btn-sm btn-block">Supprimer</a></td>
                    
                            </tr>
                            {% empty %}
                            contenu vide
                            {% endfor %}
                        </table>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}