{% extends 'gestion_activites/base.html' %}

{% block content %}
{%load crispy_forms_tags %} 
{% load static %}
<br>
<br>
<div class="global-container">
    <nav class="side-nav">
        <div class="nav-logo bloc-link">
          <img src="{% static 'IMG/parametre.png' %}">
          <h5>Management vacations agents</h5>
        </div>
        {% if user.staff %}
        <a href="{% url 'create_vacation_agent' %}" class="bloc-link">
          <img src="{% static 'IMG/profile_defaut.jpg' %}">
          <span class="nav-links">Ajouter une vacation à un agent</span>
        </a>
        {% endif %}
    </nav>

    <main class="main-content">

      <div class="input-control">
        <label for="search">
          <img src="{% static 'IMG/search.svg' %}">
        </label>
        <input type="text" id="search" placeholder="Trouver une vacation" style="background-color:#FFF">
      </div>

      <h2 class="main-title"></h2>

      <div class="table-search">
        <h3 class="table-title">Agent</h3>
        <h3 class="table-title">Client</h3>
        <h3 class="table-title">Date début</h3>
        <h3 class="table-title">date fin</h3>
        <h3 class="table-title">Status</h3>
        <h3 class="table-title">Actions</h3>
      </div>

      <div class="table-results"></div>

    </main>

</div>
{% endblock content %}
{% block js %}
<script type="text/javascript">
const searchInput = document.querySelector("#search")
const searchResult = document.querySelector(".table-results")


let dataArray;
let dataClient;
let dataAgent;

async function makeRequest(url, method, body){
  let headers = {
    'X-Requested-With': 'XMLHttpRequest',
    'Content-Type': 'application/json',
    'Accept': 'application/json'
  }

  let response = await fetch(url,{
    method: method,
    headers: headers,
    body: body
  })

  return await response.json()
}

async function getVacations(){
  let url = 'http://127.0.0.1:8000/gestion_activites/vacations-agents';
  
  const fields = await makeRequest(url,'get')
  console.log("function fetch     -------------")
  const data_agent = fields["content-data"]
  dataClient = fields["clients"]
  dataAgent = fields["agents"]
  console.log(data_agent)
  console.log(dataClient)
  console.log(dataAgent)
  console.log(dataClient[52])
  dataArray = orderList(data_agent)
  
  
  createUserList(dataArray)
}

getVacations()

function orderList(data) {
  try {
    const orderedData = data.sort((a,b) => {
      if(a["fields"]["date_debut"].toLowerCase() > b["fields"]["date_debut"].toLowerCase()) {
        return -1;
      }
      if(a["fields"]["date_debut"].toLowerCase() < b["fields"]["date_debut"].toLowerCase()) {
        return 1;
      }
      return 0;
    })
    
    return orderedData;
  } catch {
    return NaN;
  }
}


function createUserList(usersList) {
  console.log("TEST AGENT")
  console.log(usersList)
  try {
    usersList.forEach(user => {
      console.log("TEST AGENT")
      // console.log(dataAgent[user["pk"]])
      // console.log(user["fields"]["agent"])
      const listItem = document.createElement("div");
      listItem.setAttribute("class", "table-item");
      if (user["fields"]["agent"] !== null) {
        listItem.innerHTML = `
        <a href="detail_vacation_agent/${user["pk"]}"><div class="container-img">
          <img src="images/${dataAgent[user["pk"]]["photo"]}">
        <p class="name" style="color:green">${dataAgent[user["pk"]]["nom"]} ${dataAgent[user["pk"]]["prenom"]}</p>
        </div>&nbsp;</a>
        <p class="client">${dataClient[user["pk"]]["nom"]}</p>
        <p class="phone">${user["fields"]["date_debut"]}</p>
        <p class="ville">${user["fields"]["date_fin"]}</p>
        <p class="code_postal">${user["fields"]["code_postal"]}</p>
        <p><a href="detail_vacation_agent/${user["pk"]}" class="btn btn-outline-primary btn-sm col-md-6">Voir</a>
        </p>
        `
      }
      else {
        listItem.innerHTML = `
        <a href="detail_vacation_agent/${user["pk"]}">
        <p class="name" style="color:green">utilisateur supprimé</p>
        </a>
        <p class="client">${dataClient[user["pk"]]["nom"]}</p>
        <p class="phone">${user["fields"]["date_debut"]}</p>
        <p class="ville">${user["fields"]["date_fin"]}</p>
        <p class="code_postal">${user["fields"]["code_postal"]}</p>
        <p><a href="detail_vacation_agent/${user["pk"]}" class="btn btn-outline-primary btn-sm col-md-6">Voir</a>
        </p>
      `
      }
      searchResult.appendChild(listItem);
    })
  } catch(error) {
    console.log("Error", error)
    const listItem = document.createElement("div");
    listItem.innerHTML = `
      <p>Aucune vacation trouvée</>
      `
      searchResult.appendChild(listItem);
  }

}

searchInput.addEventListener("input", filterData)

function filterData(e) {

  searchResult.innerHTML = ""

  const searchedString = e.target.value.toLowerCase().replace(/\s/g, "");

  const filteredArr = dataArray.filter(el => 
    `${dataAgent[el["pk"]]["nom"] + dataAgent[el["pk"]]["prenom"]}`.toLowerCase().replace(/\s/g, "").includes(searchedString) ||
    `${dataAgent[el["pk"]]["prenom"] + dataAgent[el["pk"]]["nom"]}`.toLowerCase().replace(/\s/g, "").includes(searchedString) || 
    dataClient[el["pk"]]["nom"].toLowerCase().replace(/\s/g, "").includes(searchedString)
    )

  createUserList(filteredArr)

  const titreRecherche = document.querySelector(".main-title")
  titreRecherche.innerHTML = ""
  const item = document.createElement("span");
  item.innerText="Résultat de la recherche"
  titreRecherche.appendChild(item);
}

</script>
{% endblock js %}