{% extends 'gestion_activites/base.html' %}
{% block content %}
{% load static %}

<div class="container mt-5 text-center">
    <!-- <div class="row" style="padding-top: 5%;"> -->
        <img src="{% static 'IMG/cadenas.png' %}" style="padding-top: 5%; max-width: 200px; max-height: 200px;">
        <p style="color:brown">Désolé, vous ne disposez pas des autorisations requises pour cette action. Veuillez vous rapprocher de l'administrateur de votre organisation.</p>
    <!-- </div> -->
</div>
{% endblock content %}