<div class="row">
    <div class="col">
        <div class="col-md">
        {% if vacation.etat_mission == "AC" %}
            <div class="card text-center text-white mb-3" id="total-order" style="background-color: #7abecc;">
        {% else %}
            <div class="card text-center text-white mb-3" id="total-order" style="background-color: #ff0000;">
        {% endif %}
                <div class="card-header">
                    <h2 class="card-title">Statut de la mission</h2>
                    {% if vacation.etat_mission == "AC" %}
                        <h3>Réponse : Vacation acceptée</h3>
                    {% elif vacation.etat_mission == "RF" %}
                        <h3>Réponse : Vacation refusée</h3>
                    {% elif vacation.etat_mission == "EA" %}
                        <h3>Réponse : Vacation en attente de validation</h3>
                    {% endif %}
                </div>
                <div class="card-body">
                    
                    <h4>Details sur la vacation</h4>
                    <h5>Date de Début : {{vacation.date_debut}}</h5>
                    <h5>Date de fin : {{vacation.date_fin}}</h5>
                    <h5>Heure de Début : {{vacation.heure_debut}}</h5>
                    <h5>Heure de fin : {{vacation.heure_fin}}</h5>
                    <h5>Adresse : {{vacation.client.adresse}}</h5>
                    <h5>Ville : {{vacation.client.ville}}</h5>
                    <h5>Code postal : {{vacation.client.code_postal}}</h5>
                    <h5>Nature de la mission : {{vacation.client.nature_mission}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>